{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}
{% block content %}
  <section id="welcome-section">
    <h1 id="welcome">Welcome to Mayank's portfolio website!</h1>
  </section>
  <section id="about">
    <img src="{{ MEDIA_URL }}mayank-smiling.jpg" height=400 width=400 id="me" alt="A picture of Mayank smiling"></img>
    <span id="degree"><strong>Actively hunting for data/software degree apprenticeships.<br>Contact me at mkeshil@protonmail.com or +44 7427 701616</strong></span><br><br>
    <p><span class="bold bigger">Hi, I'm Mayank</span> and I am from <span class="bold bigger">Reading</span>. I started getting into web development at the age of <span class="bold bigger">11</span> when I had first started learning the basics of
      <span class="bold bigger">HTML</span> and <span class="bold bigger">CSS</span>. I built simple front-end projects like <span class="bold bigger">sign-in pages</span>, although not up to an actual developer's standards of course.
      <br>   
    <p>I am now entering my second year of sixth form, so this website's <span class="bold bigger">purpose</span> is to showcase my <span class="bold bigger">skills</span> and <span class="bold bigger">projects</span>
      that have been completed or are in progress. Currently I am focused on learning languages like <span class="bold bigger">JavaScript</span> and <span class="bold bigger">back-end languages</span> such as Python <span class="bold bigger">(Django)</span> to make my projects more interactive and polished.</p>
    <br>
    <p>After all, front-end design is only <span class="bold bigger">half</span> of the equation to a website.</p>
  </section>

  <section id="project-section">
    <h2 id="latest_posts_intro", style="text-align:center; font-size:2.5rem; margin-bottom:100px;">My latest project updates:</h2>
      <div id="projects">
        {% for post in latest_posts %}
        <div class="project-tile-wrapper">
          <a href="{% url 'post_detail' post.slug %}">
              <div class="project-tile">
                
                <h3 class="project-title">{{ post.title }}</h3>
                <p class="description">{{ post.content|truncatewords:20|safe }}</p>
                <span class="underline">Click to read more</span>
                <p class="publish-date">{{ post.created_at }}</p>
                <p class="author">{{ post.author.username }}</p>
              </div>
            </a>
        </div>
        
          {% empty %}
            {% for i in placeholder_range %} 
              <div class="project-tile-wrapper">
                <a href="#">
                  <div class="project-tile">
                    <img src="" />
                    <h3 class="project-title">(placeholder)</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus molestie tristique. Maecenas dignissim sapien nec pellentesque pulvinar. Suspendisse eu sagittis sapien. Duis sit amet magna venenatis, dignissim enim sed, tristique diam. Phasellus ornare bibendum nisi et tempor. Nulla condimentum, purus quis elementum euismod, felis dolor volutpat neque, sed varius est orci sed neque. Sed magna orci, congue vitae convallis et, fringilla eget sapien.</p>
                    <span class="underline">Click to read more</span>
                    <p class="publish-date">placeholder date</p>
                    <p class="author">placeholder name</p>
                  </div>
                </a>
              </div>
            {% endfor %}
        {% endfor %}
      </div>
  </section>
{% endblock %}
